<div> 
                                 <a class="btn btn-primary" ng-href="#/user">  
                                 <i class="fa fa-plus"></i>Back</a></div> 
                                 <div><br />  
                                 <table class="table table-bordered text-center"> <tr> 
                                 <tr><th>id</th><td><div><input class='form-control'id='newItem.id'name='id'type='text' ng-model='vm.newItem.id'/></div></td></tr><tr><th>first_name</th><td><div><input class='form-control'id='newItem.first_name'name='first_name'type='text' ng-model='vm.newItem.first_name'/></div></td></tr><tr><th>last_name</th><td><div><input class='form-control'id='newItem.last_name'name='last_name'type='text' ng-model='vm.newItem.last_name'/></div></td></tr>
                                 </tr><table> 
                                 <div class="pull-right"> 
                                     <button class="btn btn-success" ng-click="vm.addNew()"> 
                                     <i class="fa fa-floppy-o"></i> Save </button> 
                                     </div>
                                     </div> 
                                   