<div> 
                                 <a class="btn btn-primary" ng-href="#/user">  
                                 <i class="fa fa-plus"></i>Back</a></div> 
                                 <div><br />  
                                 <table class="table table-bordered text-center"> 
                                 <tr><th>id</th><td>{{vm.item.id}}</td></tr><tr><th>first_name</th><td>{{vm.item.first_name}}</td></tr><tr><th>last_name</th><td>{{vm.item.last_name}}</td></tr>
                                 <table> 
                                     </div> 
                                   