<div> 
                                 <a class="btn btn-primary" ng-href="#/user">  
                                 <i class="fa fa-plus"></i>Back</a></div> 
                                 <div> 
                                 <a class="btn btn-danger" ng-href="" ng-click="vm.delete()">
                                 <i class="fa fa-trash-o"></i> Confirm delete</a></div>
                                 <div><br /><table> 
                                 <tr><th>id</th><td>{{vm.deleteItem.id}}</td></tr><tr><th>first_name</th><td>{{vm.deleteItem.first_name}}</td></tr><tr><th>last_name</th><td>{{vm.deleteItem.last_name}}</td></tr> 
                                 </table> 
                                     </div> 
  